.input-wrapper {
  margin: 30px;
}

.heading {
  font-size: 3rem;
  color: white;
}

input {
  width: 90%;
  height: 40px;
  padding-left: 15px;
  margin-top: 30px;
}

.search-icon{
  font-size: 1.6rem;
  position: relative;
  left: -40px;
  top: 5px;
  color: grey;
}
