*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: #fe902b;
  display: flex;
  flex-direction: column;
}
